{% extends "base.html" %}
{% set lang_code = config.theme.language if config.theme.language in config.dcatapes else config.dcatapes.keys()|list|first %}
{% set ns = namespace(index_page_title='', conventions_page_title='', faq_page_title='') %}
{% for item in config.nav %}
    {% for key, value in item.items() %}
        {% if 'index.' in value and value.endswith('.md') or value == 'index.md' %}
            {% set ns.index_page_title = key %}
        {% elif 'conventions.' in value and value.endswith('.md') or value == 'conventions.md' %}
            {% set ns.conventions_page_title = key %}
        {% elif 'faq.' in value and value.endswith('.md') or value == 'faq.md' %}
            {% set ns.faq_page_title = key %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% block extrahead %}
    {{ super() }}
    
    <meta name="google-site-verification" content="CLn4-jPgb9_NVblTRKdXxf2xH3uOQQFgTFDVk2lH4mI" />

    {% if page.url == '/faq' or page.title == ns.faq_page_title %}
        <script type="application/ld+json">
            {% include "dcatapes/jsonld/faq.json" %}
        </script>
    {% endif %}
    
    {% if page.url == '/' or page.title == ns.index_page_title or page.url == '/conventions' or page.title == ns.conventions_page_title %}
      <style>
        .md-content__inner > h1:first-of-type {
          display: none;
        }
      </style>
    {% endif %}
{% endblock %}

{% block container %}

  {% if config.dcatapes[lang_code].draft %}
    <div class="draft-ribbon" title="{{ config.dcatapes[lang_code].buttons.draft_label.tooltip }}">
      {{ config.dcatapes[lang_code].buttons.draft_label.label }}
    </div>
  {% endif %}

  <div class="md-content" data-md-component="content">
    <article class="md-content__inner md-typeset">
      <!-- Include the content of index_header.html only if it is index or conventions -->
      {% if page.url == '/' or page.title == ns.index_page_title %}
        {% include "dcatapes/index_header.html" %}
      {% elif page.url == '/conventions' or page.title == ns.conventions_page_title %}
        {% include "dcatapes/conventions_header.html" %}
      {% endif %}

      {% block content %}
        {{ super() }}
      {% endblock %}

      {% block codeblock_enhancement %}
        {% include "dcatapes/codeblock_enhancement.html" %}
      {% endblock %}
    </article>
  </div>
{% endblock %}